
/*----------------------------EXTRA SMALL DEVICES (PHONES)----------------------------*/
@media screen and (max-width: 480px) {
    /*--------------NAVIGATION BAR--------------*/
    #nav-bar {
        width: 100vw;
        border-left: none;
        border-right: none;
    }

    #nav-icons-div {
        padding: 5px;
    }
       
    #nav-icons-div .logo {
        width: 45px;
    }
    
    #nav-words-div {
        justify-content: start;
        padding: 5px;
        margin-left: 10px;
    }
    
    #nav-words-div a {
        font-size: 18px;  
        padding: 5px;
    }

    /*--------------HOME PAGE--------------*/
    #greeting-message h3 {
        font-size: 20px;
    }

    #greeting-message h1 {
        font-size: 80px;
    }

    #greeting-message #oval {
        font-size: 15px;
    }

    /*--------------ABOUT PAGE--------------*/
    #about-page {
        display: flex;
        flex-direction: column;
    }

    #about-me-portrait {
        margin-top: 13vh;
    }

    #about-me-portrait #portrait {
        width: 50vw;
    }

    #about-me-description {
        width: 100vw;
        display: flex;
        align-items: center;
        margin: 10px;
    }

    #about-me-description h1 {
        margin: 5px;
        align-self: center;
        font-size: 45px;
        text-align: center;
        width: 100vw;
    }

    #about-me-description p {
        font-size: 18px;
    }
    
    /*--------------RESUME PAGE--------------*/
    #resume-grid {
        display: block;
        margin-top: 15vh
    }

    .rectangle {
        height: 103px;
        width: 80vw;
    }

    .modal {
        width: 80vw;
        height: 70vh;
    }

    .modal-text {
        padding: 8px;
    }

    .modal h1 {
        font-size: 40px;
        margin: 5px;
    }

    .first-item, .second-item {
        margin: 0;
    }

    .resume-logo {
        width: 100px;
        height: auto;
    }

    .resume-list {
        font-size: 17px;
    }   
    
    #skills-grid {
        display: grid;
        grid-template-columns: repeat(2, 150px);
        grid-template-rows: repeat(3, 20px);
        gap: 50px 0px;
        grid-template-columns: repeat;
        font-size: 16px;
        margin: 10px;
    }

    .skill {
        height: 5.5vh;
        width: 125px;
        margin: 15px auto;
        display: flex;
        align-items: center;
    }

    .skill-icon {
        width: 30px;
    }

    .work-experience-resume-list {
        font-size: 14px;
    }
    
    .certifications-resume-list {
        font-size: 14px;
    }

    .leadership-resume-list {
        font-size: 13px;
    }

    .honor {
        border: white 1.5px solid;
        border-radius: 30px;
        font-size: 14px;
    }

    #education-modal {
        height: 60vh;
    }

    #education-modal-text {
        height: 52.5vh;
    }

    #skills-modal {
        height: 45vh;
    }

    #skills-modal-text {
        height: 37vh;
    }

    #work-experience-modal {
        height: 68vh;
    }

    #work-experience-modal-text {
        height: 61vh;
    }

    #certifications-modal {
        height: 65vh;
    }

    #certifications-modal-text {
        height: 58vh;
    }

    #leadership-modal {
        height: 68vh;
    }

    #leadership-modal-text {
        height: 61vh;
    }

    #honors-and-awards-modal {
        height: 67vh;
    }

    /*--------------PROJECTS PAGE--------------*/
    .button-div {
        width: 10vw;
        margin-top: 12vh;
    }

    .carousel-button {
        width: 30px;
        height: auto;
    }

    #projects-carousel {
        margin-left: 0;
        margin-right: 0;
        width: 75vw;
        height: 69vh;
    }

    .project h2 {
        font-size: 30px;
    }

    .project-symbol {
        width: 45px;
        height: auto;
    }

    .project-subheading h3 {
        font-size: 20px;
    }

    .project-description p {
        font-size: 14.5px;
    }

    .project-footer { 
        width: 45vw;
        height: 5vh;
    }

    /*--------------INTERESTS PAGE--------------*/
    .interest {
        width: 150px;
        height: 150px;
    }

    #playing-sports {
        position: relative;
        top: 0px;
        right: -10px;
        font-size: 25px;
    }

    #designing-graphics {
        position: relative;
        top: 0px;
        right: 10px;
        font-size: 25px;
    }

    #watching-movies {
        position: relative;
        top: 0px;
        right: -10px;
        font-size: 25px;
    }

    #volunteering {
        position: relative;
        top: 0px;
        right: 10px;
        font-size: 25px;
    }

    #interest-heading {
        width: 200px; 
        height: 200px;
        font-size: 25px;
        position: relative;
    }

    .hide-interest-description {
        display: none;
    }
}

/*----------------------------MEDIUM DEVICES (Tablets)----------------------------*/
@media screen and (max-width: 770px) {

    /*--------------NAVIGATION BAR--------------*/
    #nav-words-div {
        justify-content: start;
    }

    /*--------------HOME PAGE--------------*/

    /*--------------ABOUT PAGE--------------*/
    #about-page {
        display: flex;
        flex-direction: column;
    }

    #about-me-portrait {
        margin-top: 13vh;
    }

    #about-me-portrait #portrait {
        width: 50vw;
    }

    #about-me-description {
        width: 100vw;
        display: flex;
        align-items: center;
        margin: 10px;
    }

    #about-me-description h1 {
        margin: 15px;
        align-self: center;
        font-size: 50px;
        text-align: center;
        width: 100vw;
    }

    #about-me-description p {
        font-size: 23px;
        margin: 0px;
    }

    /*--------------RESUME PAGE--------------*/
    #resume-grid {
        display: grid;
        height: 400px;
        grid-template-columns: repeat(2, 320px);
        grid-template-rows: repeat(3, 150px);
        margin-top: 30vh; /* counterreact fixed navbar */
        justify-content: center;
        align-content: center;
    }

    .modal {
        width: 70vw;
    }

    #education-modal {
        height: 53vh;
    }

    #education-modal-text {
        height: 44vh;
    }

    #skills-modal {
        height: 55vh;
    }

    #skills-modal-text {
        height: 45vh;
    }

    #work-experience-modal {
        height: 50vh;
    }

    #work-experience-modal-text {
        height: 41vh;
    }

    #certifications-modal {
        height: 50vh;
    }

    #certifications-modal-text {
        height: 41vh;
    }

    #leadership-modal {
        height: 50vh;
    }

    #leadership-modal-text {
        height: 41vh;
    }

    #honors-and-awards-modal {
        height: 57vh;
    }

    #honors-and-awards-modal-text {
        height: 48vh;
    }
    /*--------------PROJECTS PAGE--------------*/

    .project-footer { 
        width: 33vw;
        height: 4vh;
    }

    /*--------------INTERESTS PAGE--------------*/
    .interest {
        width: 150px;
        height: 150px;
    }

    #playing-sports {
        position: relative;
        top: 0px;
        right: -10px;
        font-size: 25px;
    }

    #designing-graphics {
        position: relative;
        top: 0px;
        right: 10px;
        font-size: 25px;
    }

    #watching-movies {
        position: relative;
        top: 0px;
        right: -10px;
        font-size: 25px;
    }

    #volunteering {
        position: relative;
        top: 0px;
        right: 10px;
        font-size: 25px;
    }

    #interest-heading {
        width: 200px; 
        height: 200px;
        font-size: 25px;
        position: relative;
    }

    .hide-interest-description {
        visibility: hidden;
    }

    #interest-description-grid-left {
        display: grid;
        grid-template-columns: repeat(1, 250px);
        grid-template-rows: repeat(2, 670px);
        align-items: flex-start;
        margin: 0px 0px;
        height: 90vh;
        position: relative;
        top: 120px;
        right: -140px;

    }
    
    #interest-description-grid-right {
        display: grid;
        grid-template-columns: repeat(1, 250px);
        grid-template-rows: repeat(2, 690px);
        align-items: center;
        margin: 0px 0px;
        height: 90vh;
        position: relative;
        top: -185px;
        right: 120px;
    }
    
    .interest-description {
        border: 2px solid white;
        border-radius: 10px;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        padding: 3px;
    }
}